doctype html
html
	head
		title Error
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		h2 Something went wrong. Please return to the last page and try again.
		p Error Details:
		p #{message}
		p #{error}